@import "compass";

@import "vars";
@import "theme_info";

@import "base/normalize";
@import "base/base";

@import 'susy'; 

@import "breakpoint";


@import url(https://fonts.googleapis.com/css?family=Gentium+Basic:400,700,700italic,400italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

@font-face {
	font-family: 'Varsity Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Varsity Regular'), url('fonts/varsity_regular.woff') format('woff');
}

@font-face {
	font-family: 'GrosseDeutschmeister';
	font-style: normal;
	font-weight: normal;
	src: local('GrosseDeutschmeister'), url('fonts/GrobeDeutschmeister.woff') format('woff');
}

@font-face {
	font-family: 'salamandre';
	font-style: normal;
	font-weight: normal;
	src: local('salamandre'), url('fonts/Salamandre.woff2') format('woff2');
}

@font-face {
	font-family: 'LouisianneBlack';
	font-style: normal;
	font-weight: normal;
	src: local('LouisianneBlack'), url('fonts/Louisianne Black.woff') format('woff');
}

@font-face {
	font-family: 'tt0142m_';
	font-style: normal;
	font-weight: normal;
	src: local('tt0142m_'), url('fonts/tt0142m_.woff') format('woff');
}


// Breakpoints
$mobile-landscape: 30rem; // 480px
$tablet: 40rem; // 640px
$tablet-wide: 48rem; // 768px
$desktop: 64rem; // 1024px
$widescreen: 71.25rem; // 1140px



$susy: (
  columns: 12,  // The number of columns in your grid
  global-box-sizing: border-box ,

  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  )
);


%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

header {
  background-color: $kingfisher_red;
  text-align: center;
	  
  
  
  img{
	  max-width: 100%;
	    padding-top:20px;	
		padding-bottom: 20px;

  }
  
  .menu-main-container{
      padding: 20px;			
	  background-color: $kingfisher_blue;
	  font-size: 20px;
	  ul{ 
	  	padding:0px;		  
		  li{
		  	 display: inline-block;
		  	 margin-left: 5px;
		  	 margin-right: 5px;
		  	 a{
			  	 color: #FFF;
			  	 text-decoration: none;			  	 
		  	 }
		  } 	 
	  }
  }
  
}

section{
	@extend %clearfix;
	padding:10px;
	
	text-align: center;
	
	.container{
		
		ul{
			padding: 0;	
			li{

				h3{
					font-style: normal;
					text-transform: uppercase;
					margin-bottom: -15px !important;
				}	
			}
			
		}
		
		hr.single{
			position: relative;
		    top: 32px;
		    border: 2px dotted $kingfisher_black;
		    width: 75%;
		}
	
	
		h2{
			background-color: #FFF;
			font-family: 'salamandre';
			text-align: center;
			//font-weight: 700;
			//font-style: italic;
			color: $kingfisher_black;
			//text-shadow: -2px 2px $kingfisher_black;
			font-size: 42px;
			margin: 0px;
			position: relative;
			width: 220px;
		    margin-left: auto;
		    margin-right: auto		
			
		}

		h2.extra_width{
			width:250;
		}
		
		
		h3{
			text-align: center;		
			font-weight: 400;
			font-style: italic;
			color: $kingfisher_black;		
			font-size: 18px;		
			margin: 0px;
		}
		
		@include breakpoint(960px) {
			@include container(1180px);

		}
		  
	
	}

}

.intro{
	background: url(images/intro.jpg) no-repeat center center fixed; 
	// background-attachment: fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;	
   
   
   background-attachment: scroll;
    
   
   height: 500px;
   margin-top: -16px;

  .details{
	  	margin-top: 145px;  
  		text-align: center;
  		background-color: rgba(#FFF,.8);
  		width: 250px;

  		border-radius: 10px;		
  		color: $kingfisher_darkgrey;
  		padding-top: 20px;
  		padding-bottom: 20px;  		
  		font-weight: 700;
  		font-size: 30px;
		margin-left: auto;
		margin-right: auto;  		
  		
  		@include breakpoint(600px) {
  			float: right;
  		}
  		
  		/*
	
	  	.blaat{
  			
  			font-weight: 700;
  			font-size: 30px;
		  	margin-left: auto;
		  	margin-right: auto;

  			
	  	}
	  	
	  	.rounded_hook{
		  	
		  	border:1px solid $kingfisher_darkgrey;
		  	border-radius: 5px;			  	
		  	width: 60%;
		  	padding: 5px;
		  	margin-left: auto;
		  	margin-right: auto;
		  	
		  	ul{
			  	padding: 0px;
		  	}
		 
	  	}
	  	*/
	  	

	  
  }
  

   
}

.lunch,.breakfast {
	
	.container{
		

		.lunch_title{
			margin-bottom: 10px !important;
		
		}
		
		p{
			margin-top: -10px;
			
		}
		
		.description{
			margin-bottom: 10px;	
		}
		
		p.note{
			margin-top: -10px;
			width: 60%;
			margin-left: auto;
			margin-right: auto;	
			margin-bottom: 0px;
			color: $kingfisher_grey;
			font-style: italic;
		}
		
		hr.seperator{
			width: 60%;
			height: 1px;
			background-color: $kingfisher_grey;
			margin-bottom: 25px;
			
		}
		
		.special{
			font-weight: 400;
		    font-style: italic;
		    color: #1a1919;
		    font-size: 20px;
		    margin: 0px;
		}


		
	}
	
	
}

.lunch{
	.container{
		ul{

			li{
				@include span(12 of 12 last);
				span{
					font-family: 'LouisianneBlack';
					color:$kingfisher_darkgrey;
					font-size: 20px;
				}

				span.lunch_sub{
					font-family: 'tt0142m_';
					color:$kingfisher_grey;
					font-size: 13px;
				}

				ul{
					li{
						float:left;
					}
				}

				@include breakpoint(960px) {
					@include span(6 of 12 last);
					
				}



			}

		}
	}
}

.beer, .wine{

	background-color: $kingfisher_darkgrey;
	.container{
		ul{
			//margin-left: -25px ;
			li{
				color: #FFF;
				margin-bottom: 20px;
				padding-left: gutter()*.25;
			    padding-right: gutter()*.25;

				h3{
					color: #FFF;
					text-transform: capitalize;
					margin-top: 20px !important;
					margin-bottom: -10px !important;					
				}
				p{
					font-family: 'Open Sans', sans-serif;
					font-size: 14px;
				}  		
			}
			
		}
	
		hr.single{
	    	border: 2px solid $kingfisher_grey;	
		}
		
		h2{
			background-color: $kingfisher_darkgrey;
			color: $kingfisher_grey	;
			text-shadow: -2px 2px #fff;	
				
		}
		
		h3{
			color:#FFF;

		}
	}
}


.beer{
	.container{
	
		ul{
			li{
				
				height: 200px;

				@include breakpoint(480px) {
					@include span(6 of 12 last);
					float:left !important;
				}
				
				@include breakpoint(960px) {
					@include span(4 of 12 last);
					float:left !important;
				}

				@include breakpoint(1024px) {
					@include span(3 of 12 last);
					float:left !important;
				}
				
			}
		}
		
	}
}


.wine{
	.container{
	
		ul{
			li{
				height: 265px;
				@include breakpoint(650px) {
					@include span(4 of 12 last);
					float:left !important;
				}
				
				

				
			}
		}
	hr.single{
	    top:0px;
	    margin-bottom: 10px;
	}
	
		
	}
}

.cocktails{

	.container{
	
		h2{
			width: 210px;
		}
	
	}		
}


.images{
	
	background-color: $kingfisher_blue;
	$layout-map: (gutters:0 );
	padding: 0px;
	
	@include with-layout($layout-map) {
		.gallery__item {
	    	@include gallery(4 of 12 );
	    
			@include breakpoint(1400px) {
				@include gallery(2 of 12 last);
				}
		}
	}
	

	.gallery__item {
		/*background: url(images/home/FullSizeRender-4.jpg) no-repeat center center ; */
	    -webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;	
		
		img{
	      max-width: 100%;
	    }
	}

	/*
	.zero{
		background: url(images/home/FullSizeRender-0.jpg) no-repeat center center !important; 
	}
	
	.one{
		background: url(images/home/FullSizeRender-1.jpg) no-repeat center center !important; 
	}
	 
	.two{
		background: url(images/home/FullSizeRender-2.jpg) no-repeat center center !important; 
	}

	.three{
		background: url(images/home/FullSizeRender-3.jpg) no-repeat center center !important; 
	}

	.four{
		background: url(images/home/FullSizeRender-4.jpg) no-repeat center center !important; 
	}

	.five{
		background: url(images/home/FullSizeRender-5.jpg) no-repeat center center !important; 
	}

	.six{
		background: url(images/home/FullSizeRender-6.jpg) no-repeat center center !important ; 
	}

	.seven{
		background: url(images/home/FullSizeRender-7.jpg) no-repeat center center !important; 
	}

	.eight{
		background: url(images/home/FullSizeRender-8.jpg) no-repeat center center !important ; 	
	}

	.nine{
		background: url(images/home/FullSizeRender-9.jpg) no-repeat center center !important ; 	
	}
	
	.ten{
		background: url(images/home/FullSizeRender-10.jpg) no-repeat center center !important ; 	
	}
	
	.eleven{
		background: url(images/home/FullSizeRender-11.jpg) no-repeat center center !important ; 	
	}

	.twelve{
		background: url(images/home/FullSizeRender-12.jpg) no-repeat center center !important ; 	
	}

	.thirteen{
		background: url(images/home/FullSizeRender-13.jpg) no-repeat center center !important ; 	
	}

	.fourteen{
		background: url(images/home/FullSizeRender-14.jpg) no-repeat center center !important ; 	
	}

	.fifteen{
		background: url(images/home/FullSizeRender-15.jpg) no-repeat center center !important ; 	
	}

	.sixteen{
		background: url(images/home/FullSizeRender-16.jpg) no-repeat center center !important ; 	
	}

	.seventeen{
		background: url(images/home/FullSizeRender-17.jpg) no-repeat center center !important ; 	
	}

	.eightteen{
		background: url(images/home/FullSizeRender-18.jpg) no-repeat center center !important ; 	
	}

	.nineteen{
		background: url(images/home/FullSizeRender-19.jpg) no-repeat center center !important ; 	
	}

	.twenty{
		background: url(images/home/FullSizeRender-20.jpg) no-repeat center center !important ; 	
	}

	
	.twenty-one{
		background: url(images/home/FullSizeRender-21.jpg) no-repeat center center !important ; 	
	}

	.twenty-two{
		background: url(images/home/FullSizeRender-22.jpg) no-repeat center center !important ; 	
	}

	.twenty-three{
		background: url(images/home/FullSizeRender-22.jpg) no-repeat center center !important ; 	
	}

	.twenty-four{
		background: url(images/home/FullSizeRender-24.jpg) no-repeat center center !important ; 	
	}
	*/


}


.shirts{

	
	h1{
		font-family:'Varsity Regular';
		font-weight:normal;
		font-size:42px;
		color: $kingfisher_blue;
	}
	
	
	ul{
		padding: 0px;
		
		li{
			display: inline-block;
			margin-bottom: 20px;
			margin-top: 20px;
			@include span(12 of 12 last);			
			@include breakpoint(650px) {
				@include span(6 of 12 last);
			}
			
			
		}
		
	}
	
	.container{
		
		img{
			max-width: 100%;
		}
	}
	
}

.flags{
	//style="float: right; margin: 7px 15px 0 0;position:relative;top"
	margin:-7px 15px -40px 0;
	position: relative;
	
	float: none;
	top:-12px ;
	
	.switcher{
		padding: 0px;
		padding-left: 16px;
	}
	
	.flag{
		display: inline;
	}
	
	@include breakpoint(650px) {
		margin:-7px 15px 0 0;
		float: right;
		top: -90px;
	}
	
	
	
	
	
}

.footer{
	
	//font-family: 'Open Sans', sans-serif;
	//font-family: 'GrosseDeutschmeister', sans-serif;
	background-color: $kingfisher_blue;	
	
	color: #FFF;
	
	ul{
		padding: 0px;
		margin:0px;
	}
	
	a{
		color: #FFF;
		text-decoration: none;
	}
	
	a:hover{
		color: $kingfisher_red;
	}
	
	ul.icons{
	    padding: 0px;
	    text-align: center;
	
	    margin: auto;
	    width: 218px;
	    	a{

				font-size: 30px;	
			}

	    
		li{
			width: 50px;
			text-align: center;
			display: inline-table;
		}	
	}
	
	
	
	/*
	.left, .right{
	padding: 0px;
	margin: 0px;

		
			font-family: 'Open Sans', sans-serif;
			background-color: $kingfisher_blue;
			color: #FFF;

		
			@include breakpoint(650px) {
				@include span(6 of 12 last);
			}

		
		
	}
	
	.right{
			@extend %clearfix;
	}
	*/
	
}


.price-container,
.price-container:before,
.price-container:after,
.price-container .price,
.price-container .price:before,
.price-container .price:after {
	height: 8.5em;
	width: 8.5em;
	background: $kingfisher_red ;
	background-size: 8.5em;
}

.price-container:before,
.price-container:after,
.price-container .price:before,
.price-container .price:after {
	content: "";
	position: absolute;
}

.price-container {
	//margin: 100px auto; /* Centering for demo */
	margin-top: 170px;
    margin-left: auto;
    margin-right: 12%;	
	position: relative; /* Context */
	top: 2.5em;
	left: 2.5em;
	-webkit-transform: rotate(-16deg);
	  -moz-transform: rotate(-16deg);
	   -ms-transform: rotate(-16deg);
	    -o-transform: rotate(-16deg);
	       transform: rotate(-16deg);
	       
	-webkit-transform: scale(0.6);
	  -moz-transform: scale(0.6);
	   -ms-transform: scale(0.6);
	    -o-transform: scale(0.6);
	       transform: scale(0.6);
	       
}

.price-container:before {
	top: 0;
	left: 0;
	-webkit-transform: rotate(-30deg);
	  -moz-transform: rotate(-30deg);
	   -ms-transform: rotate(-30deg);
	    -o-transform: rotate(-30deg);
	       transform: rotate(-30deg);
}

.price-container:after {
	top: 0;
	left: 0;
	-webkit-transform: rotate(-15deg);
	  -moz-transform: rotate(-15deg);
	   -ms-transform: rotate(-15deg);
	    -o-transform: rotate(-15deg);
	       transform: rotate(-15deg);
}

.price-container .price {
	padding: .5em 0em;
	height: 7.5em; /* height minus padding */
	position: absolute;
	bottom: 0;
	right: 0;
	-webkit-transform: rotate(45deg);
	  -moz-transform: rotate(45deg);
	   -ms-transform: rotate(45deg);
	    -o-transform: rotate(45deg);
	       transform: rotate(45deg);
	z-index: 1; /* important so the text shows up */
}

.price-container .price:before {
	top: 0;
	left: 0;
	-webkit-transform: rotate(60deg);
	  -moz-transform: rotate(60deg);
	   -ms-transform: rotate(60deg);
	    -o-transform: rotate(60deg);
	       transform: rotate(60deg);
}

.price-container .price:after {
	top: 0;
	left: 0;
	-webkit-transform: rotate(75deg);
	  -moz-transform: rotate(75deg);
	   -ms-transform: rotate(75deg);
	    -o-transform: rotate(75deg);
	       transform: rotate(75deg);
}

.price-container .price span {
  position: relative;
  z-index: 100;
  display: block;
  text-align: center;
  color: $kingfisher_blue;
  font: 1.8em/1.4em Sans-Serif;
  text-transform: uppercase;
}

.price-container .price span.number {
  font-weight: bold;
  font-size: 2.5em;
  line-height: .9em;
  color: #fff;

  position: relative;
  top: -3px;  
  
}

.down{
  font-family: 'varsity_regular Basic', serif;
}

img{
	max-width: 100%;
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}




